body {
  /* Corrected "background color" */
  background-color: forestgreen;
  margin: 0;
  /* Corrected font-family "Gil Sans" */
  font-family: 'Gill Sans', ;
}

header {
  /* Corrected "G0ld" to "Gold" */
  background-color: Gold;
  color: #004d00;
  text-align: center;
  font-size: 2em;

  /*Padding (misspelling "paddding")*/
  padding: 20px;
  margin: 0;
  
}

/* Corrected ".nav" to "nav" */
nav {
  background-color: #2e1a1a;
  width: 100%;
  margin: 0;
  padding: 0 5px;
  position: sticky;
  top: 0;
}

nav li {
  display: inline;
  border-right: 1px solid grey;
}

nav li:last-child {
  border-right: none;
}

nav ul {
  list-style-type: none;
  display: inline-flex;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: gold;
  font-weight: bold;
  padding: 14px 16px;
}

/* Corrected "nav a::hover" to "nav a:hover" */
nav a:hover {
  background-color: gold;
  color: #2e1a1a;
}

main {
  background-color: lightgreen;
  /* Corrected "margin: 50px 100" to "margin: 50px 100px" */
  margin: 50px 100px;
  padding: 50px;
}

/* Corrected "garden" to "#garden" */
#garden {
  border: 5px solid brown;
  border-radius: 30px;
  box-shadow: 5px 5px 15px grey;
  /* Corrected "height: 30" to "height: 30%" */
  height: 30%;
  width: 30%;
}

/* Corrected "margintop" to "margin-top" */
section {
  margin-top: 30px;
}

h2 {
  color: brown;
}

footer {
  background-color: #2e1a1a;
  opacity: 0.9;
  padding: 30px 50px;
  color: gold;
  text-align: center;
}